[client]
socket=/run/mariadb/mariadb.sock

[mysql]
default-character-set=utf8mb4

[mysqld]
pid-file=/run/mariadb/mariadb.pid
skip-networking

innodb_buffer_pool_size=64M
performance_schema=OFF

[mysqld_safe]
log_error=/var/log/maria/error_safe.log

[mariadbd]
user=mysql

datadir=/var/lib/mariadb/
socket=/run/mariadb/mariadb.sock

character_set_server=utf8mb4
